* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    margin: 20px;

}

.top-left {
    float: left;
    color: rgb(136, 21, 136);
    cursor: pointer;
    background-color: lightgrey;
}

.timer {
    float: right;
}

.wrapper {
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}


.title {
    font-size: 220%;
    font-weight: bolder;
    margin-top: 100px;
    padding: 10px;
}

.startup-instructions {
    display: flex;
    font-size: 20px;
    font-weight: lighter;
}

button {
    margin: auto;
    margin-top: 10px;
    display: block;
    color: white;
    background-color: rgb(65, 12, 65);
    text-align: center;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
}


.questions {
    position: relative;
    top: -200px;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    font-size: 180%;
}

